body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    color: #0e0d0d;
}

h1 {
    color: #f30808;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p {
    color: #0069d9;
}
